extends layout
mixin theme(name)
  option(value=name.toLowerCase().replace(/\s+/g, '-'))= name
mixin lang(name)
  option(value=name.toLowerCase().replace(/\s+/g, ''))= name
    
block content
  .container
    .row
      //p Welcome to #{title}
      .col-sm-6.text-center.form-inline
        label.title Language
        select.form-control#languageSelect(style='width: inherit;')
          each val in ["Markdown", "APL", "ASN.1", "Asterisk", "Brainfuck", "C", "C++", "C#", "Clojure", "CMake", "COBOL", "CoffeeScript", "Common Lisp", "Crystal", "CSS", "Cypher", "D", "Dart", "Django", "Dockerfile", "DTD", "Dylan", "EBNF", "ECL", "Eiffel", "Elm", "Erlang", "Factor", "FCL", "Forth", "Fortran", "Gas", "Gherkin", "Go", "Groovy", "HAML", "Handlebars", "Haskell", "Haskell-Literate", "Haxe", "HTML embedded", "HTML mixed", "HTTP", "IDL", "Jade", "JavaScript", "Jinja2", "JSX", "Julia", "LiveScript", "Lua", "Mathematica", "mIRC", "Modelica", "MscGen", "MUMPS", "Nginx", "NSIS", "NTriples", "Octave", "Oz", "Pascal", "PEGjs", "Perl", "PHP", "ProtoBuf", "Puppet", "Python", "Q", "R", "RPM", "RST", "Ruby", "Rust", "Sass", "Scheme", "Shell", "Sieve", "Slim", "Smalltalk", "Smarty", "Solr", "Soy", "Spreadsheet", "SQL", "Stylus", "Swift", "Tcl", "Textile", "Tiddlywiki", "TOML", "Tornado", "troff", "TTCN", "Turtle", "Twig", "VB", "VBScript", "Velocity", "Verilog", "VHDL", "Vue", "XML", "XQuery", "YAML", "YAML-frontmatter", "Z80"]
            +lang(val)
      .col-sm-6.text-center.form-inline
        label.title Theme
        select.form-control#themeSelect(style='width: inherit;')
          each val in ["Default", "3024 Day", "3024 Night", "ABCDEF", "Ambiance Mobile", "Ambiance", "Base16 Dark", "Base16 Light", "Bespin", "Blackboard", "Cobalt", "Colorforth", "Dracula", "Eclipse", "Elegant", "Erlang Dark", "Hopscotch", "Icecoder", "Isotope", "Lesser Dark", "Liquibyte", "Material", "MBO", "MDN Like", "Midnight", "Monokai", "Neat", "Neo", "Night", "Paraiso Dark", "Paraiso Light", "Pastel on Dark", "Railscasts", "Rubyblue", "Seti", "Solarized", "The Matrix", "Tomorrow Night Bright", "Tomorrow Night Eighties", "TTCN", "Twilight", "Vibrant Ink", "XQ dark", "XQ light", "Yeti", "Zenburn"]
            +theme(val)
      .col-sm-12
        .dropdown
          button#codeOptions.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
            | Editor Options 
            span.caret
          ul.dropdown-menu(aria-labelledby='codeOptions')
            li.codeOptions(data-type='boolean', data-value='lineWrapping')
              a(href='#') Word Wrap
            li.divider(role='separator')
            li
              a(href='#') Separated link
    .row.code-row
      textarea#code
      div.col-sm-6#md-code
