doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/components/codemirror/lib/codemirror.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='/components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/components/codemirror/lib/codemirror.js')
      script(src='/js/main.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    #lang
      script
    nav.navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand(href='/') #{title}
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='https://github.com/tgrowden/code-editor', target='_blank', title='Check out this project on Github')
                i.fa.fa-github-alt.fa-2x
    block content
