body {
  padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 40px;
}
.row {
  padding-bottom: 20px;
}
#code-wrapper {
  width: 100%;
  height: 250px;
  position: relative;
}
a {
  color: #00B7FF;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: inherit;
}

.CodeFlask__textarea {
  z-index: 10;
}
label.title {
  padding: 15px;
}
/*
.token.tab:not(:empty):before, .token.cr:before, .token.lf:before, .token.space:before {
  color: hsl(0, 20%, 0%);
  //position: absolute;
}
*/
