body {
  padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 40px;
}
#js-wrapper {
  width: 100%;
  height: 250px;
  position: relative;
}
.CodeFlask__pre {
  //background: rgba(0, 0, 0, 1)!important;
}
.CodeFlask__textarea {
  z-index: 10;
}
a {
  color: #00B7FF;
}
